
<ion-content [fullscreen]="true">
  <div id="container">
    <div id="displayInputSection">
      
    </div>
    <div id="displayCalculatedSection">
      
    </div>
    <div id="backSpaceSection">
      <ion-icon class="backspaceIcon" name="backspace-outline"></ion-icon>
    </div>
    <div class="darkBorder"></div>
    <div id="displayButtonSection">  
      <ion-grid [fixed]="true" id="grid">
        <ion-row>
          <button class="textGreen" (click)="onButtonPress('C' ,'highlight')">C</button>
          <button class="textGreen" (click)="onButtonPress('()','highlight')">()</button>
          <button class="textGreen" (click)="onButtonPress('%','highlight')">%</button>
          <button class="textGreen" (click)="onButtonPress('/','highlight')">/</button>
        </ion-row>
        <ion-row>
          <button (click)="onButtonPress('7')">7</button>
          <button (click)="onButtonPress('8')">8</button>
          <button (click)="onButtonPress('9')">9</button>
          <button class="textGreen" (click)="onButtonPress('X','highlight')" >X</button>
        </ion-row>
        <ion-row>
          <button (click)="onButtonPress('4')">4</button>
          <button (click)="onButtonPress('5')">5</button>
          <button (click)="onButtonPress('6')">6</button>
          <button class="textGreen" (click)="onButtonPress('+','highlight')">+</button>
        </ion-row>
        <ion-row>
          <button (click)="onButtonPress('1')">1</button>
          <button (click)="onButtonPress('2')">2</button>
          <button (click)="onButtonPress('3')">3</button>
          <button class="textGreen" (click)="onButtonPress('-','highlight')">-</button>
        </ion-row>
        <ion-row>
          <button (click)="onButtonPress('+/-')">+/-</button>
          <button (click)="onButtonPress('0')">0</button>
          <button (click)="onButtonPress('.')">.</button>
          <button class="textGreen" (click)="onButtonPress('=','highlight')">=</button>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
