
<ion-content [fullscreen]="true">
  <div id="container">
    <div id="displayInputSection">
      
    </div>
    <div id="displayCalculatedSection">
      
    </div>
    <div id="backSpaceSection">
      <ion-icon class="backspaceIcon" name="backspace-outline"></ion-icon>
    </div>
    <div class="darkBorder"></div>
    <div id="displayButtonSection">  
      <ion-grid [fixed]="true" id="grid">
        <ion-row>
          <button>1</button>
          <button>2</button>
          <button>3</button>
          <button>4</button>
        </ion-row>
        <ion-row>
          <button>5</button>
          <button>6</button>
          <button>7</button>
          <button>8</button>
        </ion-row>
        <ion-row>
          <button>9</button>
          <button>10</button>
          <button>11</button>
          <button>12</button>
        </ion-row>
        <ion-row>
          <button>13</button>
          <button>14</button>
          <button>15</button>
          <button>16</button>
        </ion-row>
        <ion-row>
          <button>17</button>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
